/* main */

h2,
h3 {
  color: #212121;
}
/* hero title */
.hero-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 46px;

  color: #ffffff;
}
.hero-section {
  background-color: brown;
  text-align: center;
  margin-bottom: 94px;
}
.button-order {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: var(--accent-color);
}

/* Преиущества компании */

.edge-list {
  display: flex;
  margin-bottom: 94px;
}
.edge-list .item + .item {
  margin-left: 30px;
}
.icon {
  background-color: #f5f4fa;
  margin-bottom: 30px;
  width: 278px;
  height: 120px;
}
.icon:hover {
  background-color: var(--accent-color);
}
.icon-style {
  padding: 25px 104px;
}

.edge-tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.edge-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 278px;
  height: 75px;
}
/* заголовки h2 */
.titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.do-title {
  margin-bottom: 50px;
}
.doing-list {
  display: flex;
}
.doing-list .item + .item {
  margin-left: 30px;
}
.doing-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.doing-section {
  background-color: red;
  margin-bottom: 94px;
}
/* team */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  outline: 2px solid tomato;
  margin-bottom: 94px;
}
.team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-list .item + .item {
  margin-left: 30px;
}
.social-list {
  display: flex;
  justify-content: center;
}

.photo {
  margin-bottom: 30px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.clients {
  margin-bottom: 94px;
}

.client-title {
  margin-bottom: 50px;
}
.client-list {
  display: flex;
}
.client-list .item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 175px;
  height: 90px;
}
.client-list .item + .item {
  margin-left: 30px;
}

.social-logo:hover,
.client-logo:hover,
.social-logo:focus,
.client-logo:focus {
  background-color: var(--accent-color);
}
