/* main */

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}
.portfolio {
  margin-top: 93px;
  margin-bottom: 94px;
}

.filters {
  display: inline-block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  min-width: 73px;
  border-radius: 4px;
  color: #212121;
}
.filters:hover,
.filters:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.buttons {
  text-align: center;
}

.titles {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
}
.choice {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-top: 4px;
  color: #757575;
}
.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.main-text {
  background-color: var(--accent-color);
}
.social-logo:hover,
.client-logo:hover,
.social-logo:focus,
.client-logo:focus {
  background-color: var(--accent-color);
}
