/* main */

.portfolio {
  padding-top: 93px;
  padding-bottom: 94px;
}

.filters {
  display: inline-block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  min-width: 73px;

  color: #212121;
}
.filters:hover,
.filters:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.buttons {
  display: flex;
  justify-content: center;
}

.buttons .item + .item {
  margin-left: 8px;
}
.titles {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.choice {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-top: 4px;
  color: #757575;
}
.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.main-text {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.main-text .flex-element {
  margin-right: 30px;
  margin-top: 30px;
  width: 370px;
}
.flex-element:nth-child(-n + 3) {
  margin-top: 0;
}
.flex-element:nth-child(3n) {
  margin-right: 0;
}
.card-content {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 20px 24px;
}
.social-logo:hover,
.client-logo:hover,
.social-logo:focus,
.client-logo:focus {
  background-color: var(--accent-color);
}
