.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-title {
  margin-bottom: 50px;
}
.client-list {
  display: flex;
}

.client-list-item {
  width: 170px;
  height: 90px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.client-logo {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .client-link:hover &,
  .client-link:focus & {
    fill: $accent-color;
  }
}

.first-client {
  width: 44px;
  height: 50px;
}
.second-client {
  width: 40px;
  height: 52px;
}
.third-client {
  width: 41px;
  height: 43px;
}
.fourth-client {
  width: 80px;
  height: 42px;
}
.fifth-client {
  width: 59px;
  height: 47px;
}
.sixth-client {
  width: 88px;
  height: 45px;
}
