.titles {
  color: $tittle-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.do-title {
  margin-bottom: 50px;
}
.doing-list {
  display: flex;
}
.doing-item {
  width: 370px;
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: '';
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;
}

.doing-title {
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: $bgc;
}
.doing-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
